$primary: #000;
$secondary: #555;
$text: #222;
$highlight: #f65e39;
$shadow: rgba(0,0,0,.2);
$light: rgba(0,0,0,.1);
$lighter: #f6f6f6;
$small-text: rgb(118, 118, 118);
$warning: #ffcd3c;
$light-bg: #f4f4f4;

$border-radius: 8px;

$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;