@import "./consts.scss";
@import "./components/components.scss";
@import "./pages/pages.scss";

body {
  font-weight: 500;
  font-size: 1rem;
  color: $text;
  box-sizing: border-box;
  margin: 0;
}

main {
  margin-top: 72px;
  padding-top: 15px;
  margin-bottom: 42px;
}

footer {
  border-top: 1px solid $lighter;
  padding: 24px 15px;

  small {
    color: grey;
  }
}

.card {
  border: 1px solid $light;
  border-radius: $border-radius;
  box-shadow: 0 2px 12px 0 $light;
}

.btn {
  padding: 0 20px;
  margin: 0 0.4rem;
  min-height: 36px;
  border-radius: $border-radius;

  &--primary {
    background: $secondary;
    color: white;
  }

  .btn-icon {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

.text-btn {
  font-weight: bold;
  color: $primary;
  border-style: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &--highlight {
    color: $highlight;
  }
}

.divider {
  display: inline-block;
  width: 1px;
  margin: 0 8px;
  vertical-align: middle;
  position: relative;
  background: $shadow;
}

.cursor {
  transition: all 0.3s;
  color: $text;

  &:hover {
    color: $highlight;
    cursor: pointer;
  }
}

a.link {
  text-decoration: none;
  transition: all 0.3s;
  color: $text;

  &:hover {
    color: $highlight;
  }
}

p {
  a.link {
    text-decoration: underline;
  }
}

.text-small {
  font-size: 12px;
  color: $secondary;
}

.text-bold {
  font-weight: bold;
}

.icon-img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.grid-center {
  display: grid;
  justify-items: center;
}

.container {
  padding: 0 1.25rem;
  margin: auto;

  @media screen and (min-width: $md) {
    padding: 0 2.8rem;
  }

  &--md {
    @media screen and (min-width: $md) {
      max-width: calc(1520px + 5.6rem);
    }
  }

  &--sm {
    max-width: calc(1296px + 5.6rem);
  }
}

.row {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-lg-20,
.col-md-3,
.col-xs-6 {
  flex: 0 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.col-md-3 {
  @media screen and (min-width: $md) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.col-lg-20 {
  @media screen and (min-width: $lg) {
    flex-basis: 20%;
    max-width: 20%;
  }
}

.section-title {
  margin-top: 42px;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.wmd-100-wmd-90 {
  width: 100%;

  @media screen and (max-width: $md) {
    width: 90%;
  }
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: abs($number: 0);
}

.d-flex {
  display: flex !important;
}

.d-inline-block {
  display: inline-block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 0.5em;
}

.ml-2 {
  margin-left: 1em;
}

.ml-3 {
  margin-left: 1.5em;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 0.5em;
}

.mr-2 {
  margin-right: 1em;
}

.mr-3 {
  margin-right: 1.5em;
}

.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.5em;
}

.mt-2 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.mb-4 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 2.5em;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all 0.3s ease;
}
.slide-right-leave-active {
  transition: all 0.3s ease;
}
.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-400px);
}

.fade-enter-active {
  transition: all 0.3s ease;
}
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
