.detail-banner {
    .detail {
        margin-top: 3rem;

        &__title {
            margin: 1.5rem 0 .875rem;
            font-size: 1.125rem;
        }

        &__content {
            
        }
    }
}