@import "./shared/navbar.scss";
@import "./shared/slick.scss";
@import "./search/room-preview.scss";
@import "./search/filter-bar.scss";
@import "./room/slick-slider.scss";
@import "./book/book-input.scss";
@import "./book/book-detail.scss";
@import "./authentication/welcome-banner.scss";
@import "./authentication/detail-banner.scss";
@import "./authentication/authen-form.scss";
