.book-room-card {
  background-color: white;
}

.book-page {
  .book-room-card {
    margin-top: 40px;

    .featured-photo {
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }
}
